.padding-top{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.padding-bottom{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.padding-side{
    padding-left: 16px;
    padding-right: 16px;
}